* {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

a {
    text-decoration: none;
    color: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

button {
    background-color: inherit;
    border: none;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #6862E0;
    background-color: #CED8E1;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.box {
    max-width: 200px;
    width: 100%;
    height: 200px;
    background-color: #6862E0;
    border-radius: 25px;
    padding: 25px;
    transition: opacity 0.5s;
    cursor: pointer;
}

.box:hover {
    opacity: 0.7;
}

.title {
    max-width: 300px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

.background {
    background-color: #042131;
    color: #6862E0;
    border-radius: 15px;
    padding: 2px 15px;
}

.opacity {
    transition: opacity 0.5s;
}

.opacity:hover,
.opacity:active,
.opacity:focus {
    opacity: 0.7;
}

.button {
    display: inline-block;
    background-color: #6862E0;
    padding: 10px 70px;
    color: #ffffff;
    border-radius: 25px;
    transition: opacity 0.5s;
}

.button:hover {
    opacity: 0.7;
}

.border {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.border:hover {
    border-bottom: 2px solid #042131;
}

.header__burger {
    z-index: 5;
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__burger span,
.header__burger::before,
.header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    transition: all 0.5s ease 0s;
    background-color: #7879BA;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__burger span {
    top: 50%;
    transform: translateY(-50%) scale(1);
}

.header__burger._active span {
    transform: scale(0);
}

.header__burger._active::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.header__burger._active::after {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    width: 350px;
    height: 75px;
    background-color: #102B3E;
}

.header__items {
    display: flex;
    align-items: center;
    grid-gap: 25px;
}

.header-main {
    background-color: #102B3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 200px;
    text-align: center;
}

.header-main__title,
.header-main__subtitle {
    margin-bottom: 25px;
    background-color: #6862E0;
    color: #ffffff;
}

.header-main__subtitle {
    max-width: 500px;
}

.gallery {
    padding: 25px 0;
}

.gallery__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 25px 75px 25px;
}

.gallery__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 30px;
    width: 100%;
    margin: -180px 0 0 0;
}

.gallery__item {
    width: 25%;
    min-width: 150px;
    background-color: #fff;
    border-radius: 27px;
}

.gallery__box {
    flex-grow: 1;
    max-width: 100%;
}

.shop {
    padding: 50px 0;
}

.shop__title {
    margin-bottom: 75px;
}

.shop__items {
    display: flex;
    grid-gap: 75px 25px;
    flex-wrap: wrap;
}

.shop__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    flex-grow: 1;
}

.shop__box {
    margin-bottom: 25px;
    max-width: 100%;
}

.shop__sub-box {
    font-size: 20px;
}

.card {
    padding: 75px 0;
}

.card__title {
    margin-bottom: 60px;
}

.card__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 60px 25px;

}

.card__item {
    flex-grow: 1;
    max-width: 475px;
    width: 100%;
}

.card__box {
    max-width: 100%;
}

.card__text {
    padding: 25px 25px 10px 25px;
}

.card__name {
    font-size: 25px;
    margin-bottom: 25px;
}

.slider {
    padding: 50px 0 100px 0;
}

.slider__title {
    margin-bottom: 60px;
}

.slider__items {
    display: flex;
    justify-content: center;
    grid-gap: 25px;
    position: relative;
    margin-bottom: 100px;
}

.slider__items::before,
.slider__items::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider__items::before {
    background-image: url(../images/arrow-left.png);
    left: 12%;
}

.slider__items::after {
    background-image: url(../images/arrow-right.png);
    right: 12%;
}

.slider__item {
    max-width: 20%;
    height: 170px;
}

.slider-bottom {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.slider-bottom__face {
    border-radius: 50%;
    margin-right: 50px;
}

.slider-bottom__title {
    max-width: 500px;
    text-align: start;
    margin: 0 0 25px 0;
}

.footer {
    background-color: #102B3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 25px;
    padding: 50px 0;
}

.footer__cubes {
    display: flex;
    justify-content: center;
    grid-gap: 25px;
    margin-bottom: 40px;
}

.footer__cube {
    background-color: #6862E0;
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

.footer__social {
    display: flex;
    grid-gap: 25px;
}

.footer__soc {
    width: 50px;
    height: 4px;
    padding: 0;
}