* {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

button {
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: #242424;
    background-color: #ffffff;
}

.row {
    --bs-gutter-x: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.opacity {
    transition: opacity 0.5s;
}

.opacity:hover,
.opacity:focus,
.opacity:active {
    opacity: 0.7;
}

.container {
    padding: 0 15px;
    max-width: 1380px;
    width: 100%;
}

.title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #1652AC;
}

.button {
    background-color: #005BB9;
    border-radius: 6px;
}

.header {
    background-color: #0F2438;
    padding: 10px 0;
    color: #ffffff;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__items {
    display: flex;
    margin-right: auto;
}

.header__item {
    display: flex;
    align-items: center;
}

.header__item:first-child {
    margin-right: 50px;
}

.header__icon {
    margin-right: 5px;
}

.header__btn {
    text-decoration: underline;
}

.header-nav__items {
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.header-nav__link:hover {
    color: #ffffff;
}

.header-nav__menu {
    display: none;
}

.header-offer {
    padding: 20px 0;
}

.header-offer__inner {
    display: flex;
    flex-direction: column;
    grid-gap: 20px 10px;
}

.header-offer__items,
.header-offer__wrapper {
    display: flex;
    align-items: center;
    grid-row-gap: 15px;
}

.header-offer__item {
    max-width: 270px;
    display: flex;
    align-items: center;
}

.header-offer__item--logo {
    margin-right: 100px;
}

.logo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header-offer__item--time {
    margin-right: 85px;
}

.header-offer__item--geo {
    margin-right: 60px;
}

.header-offer__item--whats {
    margin-right: 70px;
}

.header-offer__item--whats .header-offer__link {
    background-color: #E1EFD0;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 2px;
}

.header-offer__phone {
    font-size: 20px;
    font-weight: 500;
}

.header-offer__phone:hover,
.header-offer__link:hover {
    color: #0F2438;
}

.header-offer__btn {
    font-size: 12px;
    color: #0F2438;
    text-decoration: underline;
}

.header-offer__link span:hover {
    color: #000000;
}

.header-offer__wrap {
    display: flex;
    align-items: center;
    grid-gap: 100px;
}

.header-offer__wrap-left {
    display: flex;
    width: 100%;
}

.header-offer__burger {
    padding: 17px 32px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header-offer__img {
    margin-right: 10px;
}

.header-offer__input {
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    min-width: 235px;
}

.header-offer__placeholder {
    padding: 17px;
    border: 0;
    background-color: #F4F5FA;
    width: calc(100% - 100px);
}

.header-offer__button {
    padding: 17px 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.header-offer__button-img {
    display: none;
}

.header-offer__social {
    display: flex;
    grid-gap: 50px;
}

.header-offer__soc {
    display: flex;
    align-items: center;
    max-width: 140px;
    position: relative;
    padding: 0 0 0 40px;
    font-weight: 500;
}

.header-offer__link--cart {
    font-weight: 400;
    font-size: 12px;
    width: 140px;

}

.header-offer__soc:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -25px;
    height: 25px;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E1E5F8;
}

.header-offer__soc--cart::after {
    display: none;
}

.header-offer__soc--home {
    display: none;
}

.header-offer__cart {
    display: none;
}

.header-offer__soc-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
}


.swiper {
    max-width: 1008px;
    width: 100%;
    height: 390px;
}

.sliders__wrapper {
    display: flex;
    min-width: 0;
    grid-gap: 10px;
}

.sliders__items {
    min-width: 0;
}

.sliders__item {
    background-image: url(../images/slider/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1010px;
    padding: 25px 70px 25px 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sliders__button-next,
.sliders__button-prev {
    position: absolute;
    top: 50%;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.sliders__button-next {
    right: 30px;
}

.sliders__button-prev {
    left: 30px;
}

.sliders__button-next::after,
.sliders__button-prev::after {
    content: "";
    width: 10px;
    height: 18px;
    display: block;
    background-repeat: no-repeat;
}

.sliders__button-prev::after {
    background-image: url(../images/slider/left.svg);
}

.sliders__button-next::after {
    background-image: url(../images/slider/Right.svg);
}

.sliders__info {
    padding: 0 0 0 145px;
    display: flex;
    flex-direction: column;
}

.sliders__title {
    font-size: 36px;
    color: #0A1A2C;
    margin-bottom: 5px;
}

.sliders__code {
    color: #717171;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 25px;
}

.sliders__code:hover {
    color: #717171;
}

.sliders__price {
    font-size: 37px;
    color: #005BB9;
    margin-bottom: 10px;
}

.sliders__price span {
    font-size: 22px;
    color: #C2C5DA;
    text-decoration: line-through;
    font-weight: 400;
}

.buy-card {
    display: inline-flex;
    max-width: 160px;
    width: 100%;
    padding: 15px 30px;
    align-items: center;
}

.buy-card__img {
    margin-right: 5px;
}

.sliders__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sliders-goods {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.sliders-goods__item {
    padding: 15px 20px;
    background-color: #F4F5FA;
    border-radius: 10px;
    max-width: 336px;
    width: 100%;
    height: 190px;
}

.sliders-goods__title {
    margin-bottom: 15px;
}

.sliders-goods__body {
    display: flex;
}

.sliders-goods__img {
    object-fit: cover;
    width: 80px;
    height: 75px;
    margin-right: 15px;
}

.sliders-goods__text {
    font-size: 16px;
    color: #0A1A2C;
    margin-bottom: 5px;
}

.sliders-goods__link {
    color: #525252;
    font-size: 12px;
}

.sliders-goods__link:hover {
    color: #717171;
}

.sliders-goods__wrapper {
    display: flex;
    align-items: flex-end;
}

.sliders-goods__price {
    color: #FFB800;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 25px;
}

.sliders-goods__price span {
    font-size: 16px;
}

.sliders-gods__btn {
    max-width: 55px;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliders-gods__image {
    margin: 0;
}

@media (max-width: 1200px) {

    .header-nav__item {
        display: none;
    }

    .header-nav__menu {
        display: block;
    }

    .header-offer__items {
        justify-content: space-between;
    }

    .header-offer__wrapper {
        grid-gap: 30px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .header-offer__item {
        margin: 0;
    }

    .header-offer__item--geo {
        justify-content: flex-end;

    }

}


@media (max-width: 990px) {
    .header-offer__item {
        max-width: 215px;
        width: 100%;
    }

}


@media (max-width: 768px) {

    .header-offer__wrapper {
        grid-gap: 15px 15px;
    }

    .header-offer__items {
        align-items: start;
        font-size: 12px;
    }

    .header-offer__item--time {
        order: 1;
    }

    .header-offer__item--geo {
        order: 4;
        justify-content: start;
    }

    .header-offer__item--whats {
        order: 5;
        display: flex;
        justify-content: end;
    }

    .header-offer__item--whats .header-offer__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 5px;
    }

    .header-offer__item--whats .header-offer__icon {
        width: 12px;
        height: 12px;
        margin: 0 5px 0 0;
    }

    .header-offer__item__phone {
        order: 3;
        font-size: 16px;
    }

    .header-offer__icon {
        width: 20px;
        height: 20px;
    }

    .logo {
        padding: 0 50px 0 6px;
    }

    .header-offer__wrap {
        grid-gap: 30px;
    }

    .header-offer__burger {
        padding: 15px;
        margin-right: 15px;
    }

    .header-offer__burger span {
        display: none;
    }

    .header-offer__img {
        margin: 0;
    }

    .header-offer__soc {
        height: 55px;
        align-items: end;
        padding: 0;
    }

    .header-offer__soc-icon {
        position: absolute;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);
        object-fit: contain;
        width: 21px;
        height: 21px;
    }

    .header-offer__button,
    .header-offer__placeholder {
        padding: 13px 26px;
    }

    .header-offer__soc:last-child {
        width: 75px;
        text-align: center;
    }


}

@media (max-width: 578px) {

    .header__items {
        margin-right: 0;
    }

    .header__item--none {
        display: none;
    }

    .header__item:first-child {
        margin-right: 0;
    }

    .header-offer__item--geo,
    .header-offer__item--time {
        display: none;
    }

    .header-offer__placeholder {
        padding: 13px 26px;
        font-size: 12px;
        width: calc(100% - 35px);
    }

    .header-offer__button {
        padding: 13px 10px;
    }

    .header-offer__button span {
        display: none;
    }

    .header-offer__button-img {
        width: 15px;
        height: 15px;
        display: block;
    }

    .header-offer__wrap-right {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    }

    .header-offer__social {
        justify-content: center;
        grid-gap: 45px;
        padding: 0 15px;
    }

    .header-offer__soc {
        justify-content: center;
        font-size: 10px;
        font-weight: 400;
        width: 50px;
    }

    .header-offer__soc:not(:last-child)::after {
        display: none;
    }

    .header-offer__soc:last-child {
        max-width: 140px;
        text-align: center;
    }

    .header-offer__cart {
        display: block;
    }

    .header-offer__cart-none {
        display: none;
    }

    .header-offer__soc-icon {
        position: absolute;
        top: 18px;
    }

    .header-offer__soc--home {
        order: 3;
        display: flex;
    }

    .header-offer__soc--heart {
        order: 4;
    }

    .header-offer__soc--cart {
        order: 5;
    }

    .header-offer__soc--user {
        order: 6;
    }

    .header-offer__link--heart::after,
    .header-offer__link--cart::after {
        content: "1";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #005BB9;
        color: #ffffff;
        position: absolute;
        top: 15px;
        right: 8px;
        font-size: 8px;
    }

    .header-offer__link--cart::after {
        content: "2";
    }

    .header-offer__link--heart::after {
        content: "3";
    }
}

@media (max-width: 414px) {
    body,
    .header-offer__phone {
        font-size: 14px;
    }

    .header-offer__btn,
    .header-offer__item--whats span {
        font-size: 10px;
    }

    .logo {
        padding: 0 5px 0 5px;
    }

    .header-offer__item--whats span {
        font-size: 9px;
    }

    .header-offer__item--whats .header-offer__link {
        padding: 3px 3px;
    }

    .header-offer__social {
        grid-gap: 30px;
    }
}

