* {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

button {
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: #242424;
    background-color: #ffffff;
}

.row {
    --bs-gutter-x: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.opacity {
    transition: opacity 0.5s;
}

.opacity:hover,
.opacity:focus,
.opacity:active {
    opacity: 0.7;
}

.container {
    padding: 0 15px;
    max-width: 1380px;
    width: 100%;
}

.title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #1652AC;
}

.button {
    background-color: #005BB9;
    border-radius: 6px;
}

.price {
    font-size: 37px;
    color: #FFB800;;
    margin-bottom: 10px;
}

.price span {
    font-size: 22px;
    color: #C2C5DA;
    text-decoration: line-through;
    font-weight: 400;
}

.header {
    background-color: #0F2438;
    padding: 10px 0;
    color: #ffffff;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__items {
    display: flex;
    margin-right: auto;
}

.header__item {
    display: flex;
    align-items: center;
}

.header__item:first-child {
    margin-right: 50px;
}

.header__icon {
    margin-right: 5px;
}

.header__btn {
    text-decoration: underline;
}

.header-nav__items {
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.header-nav__link:hover {
    color: #ffffff;
}

.header-nav__menu {
    display: none;
}

.header-offer {
    padding: 20px 0;
}

.header-offer__inner {
    display: flex;
    flex-direction: column;
    grid-gap: 20px 10px;
}

.header-offer__items,
.header-offer__wrapper {
    display: flex;
    align-items: center;
    grid-row-gap: 15px;
}

.header-offer__item {
    max-width: 270px;
    display: flex;
    align-items: center;
}

.header-offer__item--logo {
    margin-right: 100px;
}

.logo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header-offer__item--time {
    margin-right: 85px;
}

.header-offer__item--geo {
    margin-right: 60px;
}

.header-offer__item--whats {
    margin-right: 70px;
}

.header-offer__item--whats .header-offer__link {
    background-color: #E1EFD0;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 2px;
}

.header-offer__phone {
    font-size: 20px;
    font-weight: 500;
}

.header-offer__phone:hover,
.header-offer__link:hover {
    color: #0F2438;
}

.header-offer__btn {
    font-size: 12px;
    color: #0F2438;
    text-decoration: underline;
}

.header-offer__link span:hover {
    color: #000000;
}

.header-offer__wrap {
    display: flex;
    align-items: center;
    grid-gap: 100px;
}

.header-offer__wrap-left {
    display: flex;
    width: 100%;
}

.header-offer__burger {
    padding: 17px 32px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header-offer__img {
    margin-right: 10px;
}

.header-offer__input {
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    min-width: 235px;
}

.header-offer__placeholder {
    padding: 17px;
    border: 0;
    background-color: #F4F5FA;
    width: calc(100% - 100px);
}

.header-offer__button {
    padding: 17px 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.header-offer__button-img {
    display: none;
}

.header-offer__social {
    display: flex;
    grid-gap: 50px;
}

.header-offer__soc {
    display: flex;
    align-items: center;
    max-width: 140px;
    position: relative;
    padding: 0 0 0 40px;
    font-weight: 500;
}

.header-offer__link--cart {
    font-weight: 400;
    font-size: 12px;
    width: 140px;

}

.header-offer__soc:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -25px;
    height: 25px;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E1E5F8;
}

.header-offer__soc--cart::after {
    display: none;
}

.header-offer__soc--home {
    display: none;
}

.header-offer__cart {
    display: none;
}

.header-offer__soc-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
}

.sliders__container {
    max-width: 1008px;
    width: 100%;
    height: 390px;
}

.sliders__wrapper {
    display: flex;
    min-width: 0;
    grid-gap: 10px;
}

.sliders__items {
    min-width: 0;
}

.sliders__item {
    background-image: url(../images/slider/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1010px;
    min-width: 290px;
    padding: 25px 70px 25px 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sliders__button-next,
.sliders__button-prev {
    position: absolute;
    top: 50%;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.sliders__button-next {
    right: 30px;
}

.sliders__button-prev {
    left: 30px;
}

.sliders__button-next::after,
.sliders__button-prev::after {
    content: "";
    width: 10px;
    height: 18px;
    display: block;
    background-repeat: no-repeat;
}

.sliders__button-prev::after {
    background-image: url(../images/slider/left.svg);
}

.sliders__button-next::after {
    background-image: url(../images/slider/Right.svg);
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    opacity: 1;
    margin: 0 11px 0 11px !important;
}

.swiper-pagination-bullet-active {
    background-color: #0D1C2B;
}

.sliders__info {
    padding: 0 0 0 145px;
    display: flex;
    flex-direction: column;
}

.sliders__title {
    font-size: 36px;
    color: #0A1A2C;
    margin-bottom: 5px;
}

.sliders__code {
    color: #717171;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 25px;
}

.sliders__code:hover {
    color: #717171;
}

.sliders__price {
    color: #005BB9;
}

.buy-card {
    display: inline-flex;
    max-width: 160px;
    width: 100%;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
}

.buy-card__img {
    margin-right: 5px;
}

.sliders__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sliders-goods__items {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.sliders-goods__item {
    padding: 15px 20px;
    background-color: #F4F5FA;
    border-radius: 10px;
    max-width: 336px;
    width: 100%;
    height: 190px;
}

.sliders-goods__title {
    margin-bottom: 15px;
}

.sliders-goods__body {
    display: flex;
    align-items: self-start;
}

.sliders-goods__img {
    width: 80px;
    height: 75px;
    margin-right: 15px;
}

.sliders-goods__img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.sliders-goods__text {
    font-size: 16px;
    color: #0A1A2C;
    margin-bottom: 5px;
}

.sliders-goods__link {
    color: #525252;
    font-size: 12px;
}

.sliders-goods__link:hover {
    color: #717171;
    margin-bottom: 10px;
}

.sliders-goods__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.sliders-goods__price {
    color: #FFB800;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.sliders-goods__price span {
    font-size: 16px;
}

.sliders-gods__btn {
    max-width: 55px;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliders-gods__image {
    margin: 0;
}

.sliders-line {
    padding: 70px 0;
}

.sliders-line__items {
    display: flex;
}

.sliders-line__item {
    background-color: #ffffff;
    border: 1px solid #E1E5F8;
    border-radius: 6px;
    max-width: 430px;
    width: 100%;
    height: 190px;
    display: flex;
    padding: 30px;
    position: relative;
}

.sliders-line__info {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    max-width: 170px;
    width: 100%;
}

.sliders-line__title {
    font-size: 24px;
}

.sliders-line__img {
    position: absolute;
    right: -7px;
    top: 0;
}

.sliders-line__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sliders-line__btn {
    padding: 5px 15px;
    max-width: 85px;
    width: 100%;
}

.sliders-line {
    max-width: 100%;
    position: relative;
}

.sliders-line__next {
    right: 0;
}

.sliders-line__prev {
    left: 0;
}

.gallery__btns {
    display: flex;
    grid-gap: 20px;
    margin-bottom: 30px;
    overflow: auto;
}

.gallery__button {
    padding: 16px 32px;
    font-size: 20px;
    background-color: #ffffff;
    border: 2px solid #005BB9;
    color: #005BB9;
    transition: color 0.5s, background-color 0.5s;
}

.gallery__button:hover,
.gallery__button:focus,
.gallery__button:active {
    color: #ffffff;
    background-color: #005BB9;
}

.gallery__items {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(315px, 1fr));
    grid-template-rows: repeat( auto-fit, minmax(265px, 1fr));
    grid-gap: 80px 0;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}

.gallery__item {
    position: relative;
}

.gallery__item:nth-child(3n+5)::before,
.gallery__item:nth-child(6n+7)::before,
.gallery__item:nth-child(9n+6)::before{
    display: none;
}

.gallery__item::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -40px;
    background-color: #E1E5F8;
    padding: 0 15px;

}

.gallery__stock {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFB800;
    border-radius: 2px;
    padding: 3px 6px;
    font-size: 12px;

}

.gallery__img {
    max-width: 275px;
    width: 100%;
    margin-bottom: 15px;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__rate-rev {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.gallery__rate {
    display: flex;
    align-items: center;
    color: #FFB800;
}

.gallery__rev {
    color: #B0B0B0;
    font-size: 14px;
    font-weight: 400;
}

.gallery__link:hover {
    color: inherit;
}

.gallery__title {
    font-size: 20px;
    color: #0A1A2C;
    margin-bottom: 45px;
}

.gallery__cost {
    font-size: 22px;
    font-weight: 700;

}

.gallery__cost span {
    font-size: 16px;
}

.gallery__price {
    font-weight: 400;
    margin-bottom: 20px;
}

.gallery__price .gallery__link {
    color: #005BB9;
    font-size: 13px;
    text-decoration: underline;
}

.gallery__wrap {
    display: flex;
    grid-gap: 20px;
}

.gallery__button--big {
    padding: 15px 40px;
    font-size: 16px;
}

.gallery__item--block {
    display: none;
}

.news {
    padding: 80px 0;
    position: relative;
}

.news__line {
    position: absolute;
    background-color: #F5F5F5;
    height: 10px;
    width: 100%;
    z-index: -1;
    top: 29%;
}

.news__title {
    font-size: 24px;
    margin-bottom: 50px;
}

.news__items {
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
}

.news__item {
    max-width: 285px;
    width: 100%;
}

.news__item:nth-child(2) {
    max-width: 320px;
}

.news__date {
    margin-bottom: 15px;
    padding: 1px 20px;
    background-color: #0C1A2A;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.news__date::before,
.news__date::after {
    content: "";
    background-color: #0C1A2A;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.news__date::after {
    width: 1px;
    height: 20px;
    top: -20px;
}

.news__date::before {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: -29px;
}

.news__link {
    margin-bottom: 20px;
    color: #005BB9;
    text-decoration: underline;
    font-weight: 400;
}

.news__text {
    font-size: 16px;
    font-weight: 400;
}

.news__text span {
    display: block;
}

.footer {
    background-color: #0C1A2A;
    padding: 30px 0 0 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__left {
    display: flex;
    justify-content: space-between;
}

.footer__right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.footer__wrap {
    display: flex;
    margin-bottom: 25px;
}

.footer__items {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    width: 100%;
}

.footer__item--visa {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.footer__item--mb {
    margin-bottom: 30px;
}

.footer__img {
    max-width: 115px;
    width: 100%;
}

.footer__link {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover {
    color: #ffffff;
}

.footer__title {
    color: #868DAC;
    font-size: 18px;
    max-width: 345px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__form {
    display: flex;
    grid-gap: 25px;
    align-items: center;
    font-weight: 400;
}

.footer__form a {
    font-size: 18px;
}

.footer__input {
    max-width: 470px;
}

.footer__placeholder,
.footer__button {
    padding: 10px 15px;
    height: 40px;
}

.footer__placeholder {
    background-color: #0C1A2A;
    color: #ADBDD1;
    border: 1px solid #203246;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.footer__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 40px;
}

.footer__social {
    display: flex;
    justify-content: flex-end;
    grid-gap: 55px;
}

.footer__input-wrap {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.footer__input-wrap h3 {
    font-weight: 400;
}

.footer__desc {
    color: #737E9B;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
}


@media (max-width: 1202px) {

    .header-nav__item {
        display: none;
    }

    .header-nav__menu {
        display: block;
    }

    .header-offer__items {
        justify-content: space-between;
    }

    .header-offer__wrapper {
        grid-gap: 30px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .header-offer__item {
        margin: 0;
    }

    .header-offer__item--geo {
        justify-content: flex-end;

    }

}

@media (max-width: 992px) {

    .sliders__container {
        height: 310px;
    }

    .header-offer__item {
        max-width: 215px;
        width: 100%;
    }

    .sliders__item {
        padding: 20px 5px 20px 20px;
        height: 310px;
    }

    .sliders__info {
        padding: 0;
        width: 270px;
    }

    .sliders__title {
        font-size: 26px;
    }

    .sliders__title,
    .footer__title,
    .footer__form a {
        font-size: 16px;
    }

    .price {
        font-size: 18px;
    }

    .price span,
    .news__text {
        font-size: 14px;
    }

    .sliders__price {
        font-size: 30px;
        display: flex;
        flex-direction: column-reverse;
    }

    .sliders__price span {
        font-size: 18px;
    }

    .sliders__code {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .buy-card {
        max-width: 152px;
    }

    .sliders__button-next,
    .sliders__button-prev {
        display: none;
    }

    .sliders-goods__item {
        padding: 12px;
        height: 150px;
    }

    .sliders-goods__title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .sliders-goods__text,
    .footer__link {
        font-size: 13px;
    }

    .sliders-goods__price {
        display: flex;
        flex-direction: column-reverse;
    }

    .sliders-goods__link {
        font-size: 10px;
    }

    .sliders-goods__wrapper {
        height: 55px;
    }

    .sliders-gods__btn {
        padding: 10px 12px;
        height: 40px;
    }

    .gallery__border:nth-child(4n+2)::before,
    .gallery__border:nth-child(4n+4)::before {
        width: 100%;

    }

    .news {
        padding: 60px 0;
    }

    .news__line {
        top: 26%;
    }

    .news__items {
        flex-wrap: wrap;
    }

    .news__item {
        max-width: 230px;
    }

    .news__item:nth-child(2) {
        max-width: 230px;
    }

    .news__item:last-child {
        display: none;
    }

    .news__date {
        padding: 2px 15px;
        margin-bottom: 30px;
    }

    .footer__wrapper {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .footer__right {
        display: block;
        width: 100%;
    }

    .footer__wrap {
        max-width: 425px;
        margin-bottom: 35px;
    }

    .footer__form {
        flex-direction: column;
        align-items: self-start;
        grid-gap: 10px;
    }

    .footer__items--wrap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__social {
        justify-content: flex-start;
    }

    .footer__desc {
        background-color: #0E1E2F;
        border-top: 1px solid #1D3044;
    }
}

@media (max-width: 770px) {

    .header-offer__wrapper {
        grid-gap: 15px 15px;
    }

    .header-offer__items {
        align-items: start;
        font-size: 12px;
    }

    .header-offer__item--time {
        order: 1;
    }

    .header-offer__item--geo {
        order: 4;
        justify-content: start;
    }

    .header-offer__item--whats {
        order: 5;
        display: flex;
        justify-content: end;
    }

    .header-offer__item--whats .header-offer__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 5px;
    }

    .header-offer__item--whats .header-offer__icon {
        width: 12px;
        height: 12px;
        margin: 0 5px 0 0;
    }

    .header-offer__item__phone {
        order: 3;
        font-size: 16px;
    }

    .header-offer__icon {
        width: 20px;
        height: 20px;
    }

    .logo {
        padding: 0 50px 0 6px;
    }

    .header-offer__wrap {
        grid-gap: 30px;
    }

    .header-offer__burger {
        padding: 15px;
        margin-right: 15px;
    }

    .header-offer__burger span {
        display: none;
    }

    .header-offer__img {
        margin: 0;
    }

    .header-offer__soc {
        height: 55px;
        align-items: end;
        padding: 0;
    }

    .header-offer__soc-icon {
        position: absolute;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);
        object-fit: contain;
        width: 21px;
        height: 21px;
    }

    .header-offer__button,
    .header-offer__placeholder {
        padding: 13px 26px;
    }

    .header-offer__soc--cart:last-child,
    .header-offer__link--cart:last-child {
        width: 75px;
        text-align: center;
    }

    .sliders-line {
        overflow: hidden;
        padding: 30px 0;
    }

    .sliders-line__item {
        padding: 20px;
        max-width: 290px;
        width: 100%;
        height: 150px;
    }

    .sliders-line__info {
        max-width: 145px;
    }

    .sliders-line__title {
        font-size: 18px;
    }

    .sliders-line__subtitle {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .sliders-line__btn,
    .gallery__link,
    .gallery__rate,
    .gallery__price .gallery__link {
        font-size: 13px;
    }

    .sliders-line__img {
        width: 95px;
        height: 125px;
        right: 0;
        top: 18px;
    }

    .gallery__title {
        font-size: 15px;
    }

    .gallery__link {
        font-size: 13px;
    }

    .gallery__stat {
        display: none;
    }

    .gallery__items {
        grid-gap: 60px 0;
        grid-template-columns: repeat( auto-fit, minmax(232px, 1fr) );
        margin-bottom: 30px;
    }

    .gallery__item {
        padding: 0 7px;
    }

    .gallery__item:nth-child(odd):before,
    .gallery__item:nth-child(4n+2)::before,
    .gallery__item:nth-child(8n+4)::before {
        bottom: -30px;
        display: block;
    }

    .gallery__item:nth-child(9n+7):before,
    .gallery__item:nth-child(9n+8)::before,
    .gallery__item:nth-child(9n+9)::before {
        display: none;
    }

    .gallery__item--block {
        display: block
    }

    .gallery__item .buy-card {
        padding: 15px 50px;
        max-width: 100%;
    }

    .gallery__cost {
        margin-bottom: 15px;
    }

    .gallery__wrap {
        grid-gap: 0;
        justify-content: space-between;
    }

    .gallery__button {
        font-size: 16px;
        padding: 15px 30px;
    }

    .news__items {
        flex-wrap: nowrap;
    }
}

@media (max-width: 580px) {

    .header__items {
        margin-right: 0;
    }

    .header__item--none {
        display: none;
    }

    .header__item:first-child {
        margin-right: 0;
    }

    .header-offer__item--geo,
    .header-offer__item--time {
        display: none;
    }

    .header-offer__placeholder {
        padding: 13px 26px;
        font-size: 12px;
        width: calc(100% - 35px);
    }

    .header-offer__button {
        padding: 13px 10px;
    }

    .header-offer__button span {
        display: none;
    }

    .header-offer__button-img {
        width: 15px;
        height: 15px;
        display: block;
    }

    .header-offer__wrap-right {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        z-index: 10;
    }

    .header-offer__social {
        justify-content: center;
        grid-gap: 45px;
        padding: 0 15px;
    }

    .header-offer__soc {
        justify-content: center;
        font-size: 10px;
        font-weight: 400;
        width: 50px;
    }

    .header-offer__soc:not(:last-child)::after {
        display: none;
    }

    .header-offer__soc:last-child {
        max-width: 140px;
        text-align: center;
    }

    .header-offer__cart {
        display: block;
    }

    .header-offer__cart-none {
        display: none;
    }

    .header-offer__soc-icon {
        position: absolute;
        top: 18px;
    }

    .header-offer__soc--home {
        order: 3;
        display: flex;
    }

    .header-offer__soc--heart {
        order: 4;
    }

    .header-offer__soc--cart {
        order: 5;
    }

    .header-offer__soc--user {
        order: 6;
    }

    .header-offer__link--heart::after,
    .header-offer__link--cart::after {
        content: "1";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #005BB9;
        color: #ffffff;
        position: absolute;
        top: 15px;
        right: 8px;
        font-size: 8px;
    }

    .header-offer__link--cart::after {
        content: "2";
    }

    .header-offer__link--heart::after {
        content: "3";
    }

    .sliders__wrapper {
        flex-direction: column;
    }

    .sliders-goods__items {
        flex-direction: row;
        overflow: auto;
        min-width: 0;
    }

    .sliders-goods {
        width: 100%;
    }

    .sliders-goods__items::-webkit-scrollbar {
        width: 0;
    }

    .sliders-goods__item {
        flex-grow: 1;
    }

    .sliders-line {
        padding: 20px 0;
    }

    .sliders-line__item {
        padding: 15px;
        width: 250px;
        height: 125px;

    }

    .sliders-line__title {
        font-size: 16px;
    }

    .sliders-line__subtitle,
    .gallery__link,
    .gallery__rate span,
    .news__date {
        font-size: 10px;
    }

    .sliders-line__btn,
    .gallery__price,
    .footer__form a {
        font-size: 13px;
    }

    .sliders-line__img {
        width: 75px;
        height: 95px;
    }

    .gallery__items {
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
        margin-bottom: 25px;
    }

    .gallery__button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .gallery__title,
    .gallery__price .gallery__link,
    .news__text,
    .footer__link {
        font-size: 12px;
    }

    .gallery__item .buy-card {
        padding: 15px 15px;
    }

    .gallery__item::before {
        bottom: -25px;
    }

    .gallery__wrap {
        justify-content: flex-start;
        grid-gap: 10px;
    }

    .gallery__btns {
        grid-gap: 10px;
        margin-bottom: 20px;
    }

    .gallery__button {
        padding: 5px 10px;
    }

    .gallery__button--big {
        padding: 10px 40px;
    }

    .gallery__item--none {
        display: none;
    }

    .gallery__cost,
    .footer__title {
        font-size: 14px;
    }

    .gallery__cost span {
        font-size: 10px;
    }

    .news {
        padding: 50px 0;
    }

    .news__items {
        flex-direction: column;
    }

    .news__item,
    .news__text,
    .news__item:nth-child(2) {
        max-width: 100%;
    }

    .news__date::before,
    .news__date::after,
    .news__line {
        display: none;
    }

    .news__item:last-child {
        display: block;
    }

    .news__link {
        margin-bottom: 10px;
    }

    .news__title {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        grid-gap: 25px;
    }

    .footer__left,
    .footer__wrap {
        flex-direction: column;
        grid-gap: 25px;
    }

    .footer__items {
        width: 240px;
        grid-gap: 10px;
    }

    .footer__button {
        padding: 10px 15px;
    }

    .header-offer__placeholder {
        padding: 13px 10px;

    }

    .footer__social {
        grid-gap: 40px;
    }

    .footer__desc{
        font-size: 12px;
    }
}

@media (max-width: 416px) {
    body,
    .header-offer__phone {
        font-size: 14px;
    }

    .header-offer__btn,
    .header-offer__item--whats span {
        font-size: 10px;
    }

    .logo {
        padding: 0 5px 0 5px;
    }

    .header-offer__item--whats span {
        font-size: 9px;
    }

    .header-offer__item--whats .header-offer__link {
        padding: 3px 3px;
    }

    .header-offer__social {
        grid-gap: 30px;
    }

    .sliders__container {
        height: 225px;
    }

    .sliders__item {
        padding: 15px 5px 15px 15px;
        height: 225px;
        align-items: flex-start;
    }

    .sliders__title {
        font-size: 16px;
    }

    .sliders__code {
        font-size: 10px;
    }

    .sliders__price {
        font-size: 20px;
    }

    .sliders__price span {
        font-size: 15px;
    }

    .buy-card {
        max-width: 125px;
        padding: 15px 10px;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }

    .sliders-goods__text {
        font-size: 12px;
    }

    .sliders-goods__price {
        flex-direction: row;
        align-items: center;
        grid-gap: 5px;
        width: 115px;
    }

    .sliders-gods__btn {
        padding: 10px 10px;
    }

}

@media (max-width: 325px) {
    .sliders__zap {
        width: 230px;
        height: 125px;
    }

    .buy-card {
        padding: 10px 10px;
    }

    .sliders__container {
        height: 195px;
    }

    .sliders__item {
        height: 195px;
    }

    .sliders-line__img {
        width: 50px;
        height: 65px;
        top: 50px;
    }

    .gallery__items {
        grid-template-columns: repeat( auto-fit, minmax(140px, 1fr) );
    }

    .gallery__button {
        padding: 5px 5px;
        font-size: 10px;
    }

    .gallery__item .buy-card {
        padding: 10px 5px;
        font-size: 12px;
    }

    .footer__items{
        width: 100%;
    }
}

